div#content div{
    display: inline-block;
    width: 50%;
}



div#content div.leftbox{
    vertical-align: top;


}

div#content div.rightbox{
    padding-right: 100px;

    
}


body{
    background:rgb(80, 147, 156);
    background-size: 100%;
    font-size: 20px;

}

    
    

header{
    background-color: #fff;

}


footer{
    background-color: red;
}

nav.menu-nav ul li.wwe{
    display: inline-block;
    list-style-type: none;
}
nav.menu-nav ul li.wwe:hover a{
    color: teal;
    background-color: thistle;
    transition: 0.5s all;

}
nav.menu-nav ul li.wwe a{
    color: rgb(80, 147, 156);
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}